{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-shadow": "off",
    "object-curly-newline": [
      "error",
      {
        "ObjectPattern": { "multiline": true }
      }
    ]
  }
}